.hidden {
    height: 0;
    width: 0;
}

/* nav bar */
#mainNav {
    background-color: #dde6d5;
}

#logo {
    color: #667b68;
    font-size: xx-large;
}

/* landing page image*/
.hero-image {
    background-image: url("../images/hero-image.webp");
    width: 100%;
    background-size: cover;
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    position: relative
}

.hero-blurb {
    background-color: #fceee9;
    text-align: center;
    color: #f8d3c5;
    border-radius: 0.25rem;
    position: absolute;
    width: 25%;
    height: 50%;
    left: 37.5%;
    top: 25%;
    padding: 0.25rem;
}

#hero-tagline {
    /* text-align: center; */
    color: #893f04;
    font-size: xx-large;
}

/* landing page recipe display */
.card-footer {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.image-container {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    width: 100%;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* .card-img { */
/* height: 15vw; */
/* object-fit: cover; */
/* padding-bottom: 3vh; */
/* } */

/* .img-fluid {
    height: 100%;
    width: auto;
} */

#name-display {
    font-size: x-large
}

.recipe-link {
    color: #893f04;
    text-decoration: none;
}

.recipe-link:hover {
    color: #667b68;
    text-decoration: none;
}

/* pagination */
.page-link,
.page-of-text {
    color: #667b68;
}

/* comments */
.faded {
    font-weight: lighter;
}

/* .my-recipe-row {
    border: 1px solid black;
} */

.text-trunc {
    text-overflow: ellipsis;
}