/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Crete+Round&family=Kanit&display=swap');

/* universal styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'arimo', 'sans-serif';
}

:root {
    --brown: #8b4513;
    --pink: #bc8f8f;
    --pale-pink: #ffe4e1;
    --sage: #dde6d5;
    --dark-green: #667B68;
    --grey: #857f7f;
    --white: #ffffff;
}

.hidden {
    height: 0;
    width: 0;
    font-size: 0;
}

/* nav bar */
#mainNav {
    background-color: var(--sage);
}

#logo {
    color: var(--dark-green);
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'kanit', 'sans-serif';
}

/* footer */
footer {
    background-color: var(--dark-green);
    color: var(--white);
}

/* landing page image*/
.hero-image {
    background-image: url("../images/hero-image.webp");
    background-size: cover;
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    position: relative
}

.hero-blurb {
    background-color: var(--pale-pink);
    opacity: 85%;
    border-radius: 0.25rem;
}

#hero-tagline {
    color: var(--brown);
    font-size: 1.5rem;
    opacity: 100%;
    font-weight: 600;
}

/* landing page recipe display */
.card-footer {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.image-container {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    width: 100%;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#name-display {
    font-size: x-large
}

.recipe-link {
    color: var(--brown);
    text-decoration: none;
}

.recipe-link:hover {
    color: var(--dark-green);
    text-decoration: none;
}

/* pagination */
.page-link,
.page-of-text {
    color: var(--dark-green);
}

/* my recipes page */
.my-recipe-btn {
    margin-top: 5%;
}

.html-header {
    color: var(--brown);    
}

.my-recipe {
    color: var(--grey)
}

.faded {
    font-weight: 100;
    color: var(--pink);
    font-style: italic
}
