{% extends 'base.html' %} {% load static %}
{% block content %}




<form method="POST">
    {% csrf_token %}
    <div class="container" id="confirm-delete-recipe">
        <div class="row d-flex justify-content-center pb-3">
            <h1>Are you sure you want to delete {{ recipe.recipe_name }}?</h1>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-outline-danger mr-1">Delete</button>
            <a href="{% url 'user_recipes' %}" id="recipe-cancel-delete" class="btn-link btn btn-outline-success ml-1">Cancel</a>
        </div>        
    </div>
</form>

{% endblock content %}