{% extends 'base.html' %}
{% load static %}
{% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="container low-content-page">
        <div class="row">
            <div class="col-10 offset-1 text-center pb-3">
                <h1>Are you sure you want to delete the recipe {{ recipe.recipe_name }}?</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-outline-danger mr-1">Delete</button>
            <a href="{% url 'user_recipes' %}"
                class="btn-link btn btn-outline-success ml-1 recipe-cancel-delete">Cancel</a>
        </div>
    </div>
</form>

{% endblock content %}