{% extends "base.html" %} {% load static %} {% block content %}
<!-- index.html content starts here -->
<section>
  <div class="hero-image">
    <div class="hero-blurb">
      <p>
        Sprout: The community for plant based people to share their wholefood,
        plant based recipes!
      </p>
    </div>
  </div>
</section>

<!-- recipe card library -->
<div class="container-fluid">
  <div class="col-12 mt-3 mb-3">
    <div class="row">
      {% for recipe in recipe_list %}
      <div class="col-md-4 col-lg-3 mt-3">
        <div class="card h-100">
          <div class="card-body">
            <div>
              <p class="card-footer text-center">
                Category: {{ recipe.get_category_display }}
              </p>
              <div class="image-container">
                {% if "placeholder" in recipe.featured_image %}
                <img
                  class="card-img"
                  src="{% static 'images/sprout-favicon.jpg' %}"
                  alt="placeholder image"
                />
                {% else %}
                <img
                  class="card-img"
                  src="{{ recipe.featured_image.url }}"
                  alt="{{ recipe.recipe_name }}"
                />
                {% endif %}
              </div>

              <div class="card-title text-center">
                <h2>{{ recipe.recipe_name }}</h2>
              </div>

              <!-- <div class="card-body"> -->

              <!-- <p>Author: {{ recipe.author }}</p> -->
              <!-- <hr /> -->
              <!-- <p class="muted">Date Created: {{ recipe.created_on }}</p> -->
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
