{% extends "base.html" %} {% load static %} {% block content %}
<!-- index.html content starts here -->
<div class="container-fluid">
  <div class="row">
    {% for recipe in recipe_list %}
    <div class="col-12 col-md-4 col-lg-3 card">
      <div class="card-title">
        <h2>{{ recipe.recipe_name }}</h2>
      </div>
      <img
        src="{% static 'images/sprout-favicon.jpg' %}"
        width="30%"
        alt="placeholder image"
      />
      <div class="card-body">
        <h3>Category: {{ recipe.category }}</h3>
        <hr />
        <p>Author: {{ recipe.author }}</p>
        <hr />
        <p class="muted">Date Created: {{ recipe.created_on }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
