{% extends 'base.html' %} {% load crispy_forms_tags %} {% load static %}
{% block content %}

<h1>My Recipes:</h1>
<!-- recipe card library -->
<div class="container">
    {% for recipe in user_recipes %}
        <div class="row my-recipe-row">
            <div class="col-12 m-2 mr-4">
                <div class="row h-100">
                    <div class="col-1">
                        <div class="image-container my-auto" id="my-recipe-img">
                            <!-- displays default image if an image is not uploaded -->
                            {% if "placeholder" in recipe.featured_image.url %}
                            <img class="card-img" src="{% static 'images/sprout.webp' %}" alt="placeholder image">
                            {% else %}
                            <img class="card-img" src=" {{ recipe.featured_image.url }}" alt="{{ recipe.recipe_name}}">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-4 my-auto text-wrap">
                        <p>{{ recipe.recipe_name }}</p>
                    </div>
                    <div class="col-3 my-auto text-wrap">
                        {% if recipe.approved %}
                            <p>Approved? Yes</p>
                        {% else %}
                            <p>Approved? No</p>
                        {% endif %}
                    </div>
                    <div class="col-3 my-auto">
                        <div>
                            <a href="{% url 'recipe_detail' recipe.slug %}">
                                <button class="btn">View</button>
                            </a>
                            <a href="{% url 'edit_recipe' recipe.slug %}">
                            <button class="btn">Edit</button>
                            </a>
                            <a href="{% url 'delete_recipe' recipe.slug %}">
                            <button class="btn">Delete</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}