{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="image-container">
    {% if "placeholder" in recipe.featured_image %}
    <img class="card-img" src="{% static 'images/sprout-favicon.jpg' %}" alt="placeholder image" />
    {% else %}
    <img class="card-img" src="{{ recipe.featured_image.url }}" alt="{{ recipe.recipe_name }}" />
    {% endif %}
</div>
<div>
    <h1>{{ recipe.recipe_name }}</h1>
</div>
<div>
    <h2>Ingredients</h2>
    {{ recipe.ingredients }}
</div>
<div>
    <h2>Method</h2>
    {{ recipe.method }}
</div>
<div>
    <h3>Servings</h3>
    {{ recipe.servings }}
</div>
<div>
    <h3>Comments: </h3>
</div>
<div>
    {% if comments %}
        {% for comment in comments %}
        <div class="comment-list">
            {% if not comment.approved and not comment.author == user %}
            <p></p>
            {% elif not comment.approved and comment.author == user %}
            <p><em>Comment awaiting admin approval: </em><br><span class="faded">{{ comment }} <br> by {{ comment.author }} on {{ comment.created_on }}</p>
            {% else %}
            <p>{{ comment }} <br> by {{ comment.author }} on {{ comment.created_on }}</p>
            {% endif %}
        </div>
        {% endfor %}
    {% else %}
        <p>There are no comments to display</p>
    {% endif %}
</div>
<form id="commentForm" method="POST" action='' enctype="multipart/form-data">
    <div>
        {% csrf_token %}
        <!-- {{ comment_form | crispy }} -->
        {{ comment_form.as_p }}
    </div>
    <button id="form-submit-button" type="submit">Submit Comment</button>
</form>

{% endblock content %}