{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>403s Error</h1>
            <p>YOu have tried to navigate to a forbidden page. Please press the button below to return to the home page</p>
        </div>
        <div class="row">
            <div>
            <form action="{% url 'home'%}">
                <button class="btn btn-outline-danger">Return to Home</button>
            </form>
        </div>
    </div>
    </div>
</div>