{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container low-content-page">
    <div class="row">
        <div class="col-10 offset-2">
            <h1 mb-2>404 Error</h1>
            <p mb-2>You've tried to navigate to an unknown page. Please press the button below to return to the home page</p>
        </div>
        <div class="row">
            <div class="col-10 offset-2">
            <form action="{% url 'home'%}">
                <button class="btn btn-outline-danger">Return to Home</button>
            </form>
        </div>
    </div>
    </div>
</div>

{% endblock content %}