{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>404 Error</h1>
            <p>You've tried to navigate to an unknown page. Please press the button below to return to the home page</p>
        </div>
        <div class="row">
            <div>
            <form action="{% url 'home'%}">
                <button class="btn btn-outline-danger">Return to Home</button>
            </form>
        </div>
    </div>
    </div>
</div>