{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container low-content-page">
    <div class="row">
        <div class="col-8 offset-2">
            <h1>500 Error</h1>
            <p>There's been an internal server error. Please press the button below to return to the home page and try again</p>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <form action="{% url 'home'%}">
                <button class="btn btn-outline-danger">Return to Home</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}